<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration-Admin</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <style>
        #container{
            margin-top: 50px;
            height: 30vmax;
        }
        @media only screen and (max-width:1000px){
            #container{
                height: 50vmax;
            }
        }
    </style>
    
        <div id="container">
            <div id="header">
                <h2>Admin Registration</h2>
            </div>
            <form action="/register/admin" method="post" >
                <div class="form-control " >
                    <label for="fname">First Name:</label> <br>
                    <input type="text" name="names" id="fname">
                    <i class="fa-solid fa-circle-check"></i>
                    <i class="fa-solid fa-circle-xmark"></i>
                    <small>Error Message</small>
                </div>
               
                <div class="form-control">
                    <label for="Number">Phone Number:</label><br>
                    <input type="number" name="number" id="Number">
                    <i class="fa-solid fa-circle-check"></i>
                    <i class="fa-solid fa-circle-xmark"></i>
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <label for="email">E-Mail:</label><br>
                    <input type="text" name="email_id" id="email">
                    <i class="fa-solid fa-circle-check"></i>
                    <i class="fa-solid fa-circle-xmark"></i>
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <label for="pass">Password:</label><br>
                    <input type="password" name="pass" id="pass">
                    <i class="fa-solid fa-circle-check"></i>
                    <i class="fa-solid fa-circle-xmark"></i>
                    <small>Error Message</small>
                </div>
                
                <input type="submit" id="btn" name="">
                </div>
                
            </form>
            </div>
            <!-- <form action="/register/admin" method="post">
                <input type="text" name="names">
                <input type="number" name="number" id="">
                <input type="text" name="email_id" id="">
                <input type="text" name="pass" id="">
                <input type="submit">
            </form> -->
</body>
<script src="/javascripts/register.js"></script>

</html>