
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-library</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    </head>
    
    <body class="body">
        <div id="lap">
            <div id="logo">
                <div><img src="https://img.freepik.com/free-photo/3d-cartoon-back-school_23-2151676608.jpg?t=st=1728661259~exp=1728664859~hmac=2c2fd8f996f42d5333610779be554d6b61314a472b74174d725dbefc631cb893&w=900" height="50px" alt=""></div>
                <div id="navdiv">
                    <a href="/books">Books.in</a>
                    <a href="/readBooks">Read Books</a>
                    <a href="#">home</a>
                    <a href="#">about Us</a>
                    <a href="#contact">contact Us</a>
                    <a  href="#Seamless">Services</a>
                    <a href="/register">Register</a>
                </div>
                <button id="menu" onclick="menu()">Menu</button>
            </div>
        </div> 
      
        <div class="welcome">
            <h1>Welcome to E-Library</h1>
            <h6>Read anytime,anywhere</h6>
        </div>
        <div class="books"><img class="books" src="https://img.freepik.com/free-photo/portrait-young-boy-with-book-education-day_23-2150980006.jpg?t=st=1726496966~exp=1726500566~hmac=9404b88e44674a4efdf0e719b84b1f243057b6709492f30f8bf4c4eeac99bdb3&w=900" width="1520px" height="400px" alt=""></div>
         <section id="intro">
            <div id="study">
                <h1 id="static">YOUR'S PERSONAL LIBRARY <br>and STUDY GUIDE </h1>
                <div>
                    <p id="text" style="font-size: 18px;">
                        In today’s digital age, E-Libraries have become essential <br> tools for educational 
                    institutions, research organizations, and <br>individuals seeking quick and easy access to scholarly <br>
                     materials, making them a vital part of the modern information ecosystem.
                     <span id="points">....</span> <br>
                     <span id="moretxt">Here you will able to acess millions of books by one tap  from anywhere whether <br> 
                        you are travelling in bus car trains or you are sitting idle.</span>
                    </p>
                </div>
                <button onclick="toggle()"  id="btn">Show more</button>
                
            </div>
            <div id="student">
                <!-- <img src="new folder/girl4-Photoroom.png" height="350px" alt=""> -->
                <img src="/public/images/girl-Photoroom.png" height="350px" width="200px" alt="">
                <img src="/public/images/boy-Photoroom.png" height="350px" width="300px" alt="">
                
            </div>
         </section>
        <div class="div1">
            <h2>Objectives and values</h2>
            <p id="p1">
                The primary objective of any library system is to collect, store, organize, retrieve and make available the information sources <br> to the information users.
                It automates the entire process from check-in and checkout to borrowing materials, updating items,<br> and organizing books, resources, etc. The system being entirely 
                automated streamlines all the tasks involved in operations of thelibrary.
            </p>
        </div>
        <div id="Seamless"><h2>Seamless learning Experience</h2></div>
        <div id="features">
            
            <div id="first-3">
                <div>
                    <div class="img-div"><img src="https://elibrary.in.pearson.com/images/learning-experience/img-1.png" alt=""></div>
                    <p>A wide collection of <br> eBooks just a click away</p>
                </div>
                <div>
                    <div class="img-div"><img src="https://elibrary.in.pearson.com/images/learning-experience/img-2.png" alt=""></div>
                    <p>Have a hassle free study <br> material anywhere you like<p>
                </div>
                
                <div>
                    <div class="img-div"><img src="https://elibrary.in.pearson.com/images/learning-experience/img-3.png" alt=""></div>
                    <p>Open your world of <br> knowledge on any device<p>
                </div>
            </div>
            <div id="next-3">
                <div>
                    <div class="img-div"><img src="https://elibrary.in.pearson.com/images/learning-experience/img-4.png" alt=""></div>
                    <p>No physical boundary or time <br>bound to gain knowledge</p>
                </div>
                <div>
                    <div class="img-div"><img src="https://elibrary.in.pearson.com/images/learning-experience/img-5.png" alt=""></div>
                    <p>Uninterrupted learning <br>at all times</p>
                </div>
                
                <div>
                    <div class="img-div"><img src="https://elibrary.in.pearson.com/images/learning-experience/img-6.png" alt=""></div>
                    <p>Voice notes, highlights, flashcards <br>and more for quick revision</p>
                </div>
            </div>
            
        </div>
        
       <h2 id="author">Authors in Focus</h2>
       
        <div id="Author">
            <Div class="author image"><img id="rowling" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjOftpoU4UKFl5BMrHhJLUnQUbiBFznhB4Gg&s" height="220vh" width="220vw" alt="j.k Rowling">
                <table>
                    <tr><td>Name: J.K. Rowling</td></tr>
                    <tr><td>Popular book: Harry Potter</td></tr>
                </table>
            </Div>
            <div class="author image"><img id="daniel" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh9mekA5sYq3fZUzTvlPHS53qcZwaEfVbk7A&s" height="220vh" width="220vw" alt="Daniel Kanheman">
                <table>
                    <tr><td>Name: Daniel Kanheman</td></tr>
                    <tr><td>Popular book: Harry Potter</td></tr>
                </table>
                </div>
                <Div class="author image"><img id="bhavik" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr-fBIjCODvTqRTzLg7KyOKRLcb6IPdAynmA&s" height="220vh" width="220vw" alt="Bhavik">
                  <table>
                    <tr><td>Name: Bhavik Sarkhedi</td></tr>
                    <tr><td>Popular book: Harry Potter</td></tr>
                  </table>
                </Div>
                <Div class="author image"><img src="https://static.toiimg.com/imagenext/toiblogs/photo/blogs/wp-content/uploads/2020/02/f8157903-2f6d-4679-b052-94c9036d21aa.jpg" height="220vh" width="220vw" alt="Bhavik">
                    <table>
                        <tr><td>Name: Bhavik Sarkhedi</td></tr>
                        <tr><td>Popular book: Harry Potter</td></tr>
                    </table>
                </Div>
         </div>
         <!-- <section class="section1">
            <div class="offer">
                <h3 class="heading">Access to a Broader Range of Resouces</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-OtiE4ki0-vbc9V0aGYBA7s22ZtJbmiNp_A&s" height="120px" alt="image">
                <p>With no physical space constraints, we increase the number of library resources available to students – both in
                     textual and other formats. <br> As a result, we provide a mechanism for storing a lot more information at a lower cost.
                    we allow access to a wide range of content, with potentially an infinite number of resources and options available. 
                    we, overcome this limitation, broadening students’ learning horizons. <br>
                     They can access the vast knowledge and share it with others, allowing education to grow.</p>
            </div>
            
         </section>
         <section class="section2">
                <h3 class="heading">Access to a Broader Range of Resouces</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-OtiE4ki0-vbc9V0aGYBA7s22ZtJbmiNp_A&s" height="120px" alt="image">
                <p>With no physical space constraints, we increase the number of library resources available to students – both in
                     textual and other formats. <br> As a result, we provide a mechanism for storing a lot more information at a lower cost.
                    we allow access to a wide range of content, with potentially an infinite number of resources and options available. 
                    we, overcome this limitation, broadening students’ learning horizons. <br>
                     They can access the vast knowledge and share it with others, allowing education to grow.</p>
            
         </section>
         <section class="section3">
            <div class="offer1">
            <h3 class="heading">Quick and Easy Information Retrieval</h3>
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAiA93XlfXT5hM471fSEfw2lljjdkydTVEBA&s" height="120px" width="200px" alt="">
             <p>There is no such thing as having abundant knowledge and relevant information about specific subjects. A digital library saves the time
                  and effort required to visit a traditional library and find the right book. 
                  Searching for the desired source among thousands of resources becomes simple with features such as an in-built search working with
                  only a few keywords or titles.
                  Because of intuitive search engine technologies such as ranking and automatic term expansion, even inexperienced users can begin using 
                  digital libraries and conducting independent searches.
                  </p>
            </div>
         </section>
         <section class="section4">
            <h3 class="heading">Quick and Easy Information Retrieval</h3>
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAiA93XlfXT5hM471fSEfw2lljjdkydTVEBA&s" height="120px" width="200px" alt="">
             <p>There is no such thing as having abundant knowledge and relevant information about specific subjects. A digital library saves the time
                  and effort required to visit a traditional library and find the right book. 
                  Searching for the desired source among thousands of resources becomes simple with features such as an in-built search working with
                  only a few keywords or titles.
                  Because of intuitive search engine technologies such as ranking and automatic term expansion, even inexperienced users can begin using 
                  digital libraries and conducting independent searches.
                  </p>
         </section>
         <section class="section5">
            <div class="offer2">
            <h3 class="heading">Improved Resources Preservation</h3>
            <img src="https://www.lisedunetwork.com/wp-content/uploads/2016/07/Digital-Preservations-1.jpg" height="120px">
            <p>Digital libraries are also prevalent because they provide an efficient mechanism for preserving information sources 
                and preventing them <br> from being lost, damaged, or stolen.
                Traditional libraries must invest heavily in the upkeep and preservation of library resources. Readers frequently
                access and reuse physical library resources, making it difficult to prevent the deterioration of books, vinyl records,
                cassette tapes, and others.
                On the other hand, digital libraries digitize their content and make it available to a large number of readers rather 
                than focusing on the preservation of physical materials. 
                </p>
            </div>
        </section>
        <section class="section6">
           <h3 class="heading">Improved Resources Preservation</h3>
           <img src="https://www.lisedunetwork.com/wp-content/uploads/2016/07/Digital-Preservations-1.jpg" height="120px">
           <p>Digital libraries are also prevalent because they provide an efficient mechanism for preserving information sources 
               and preventing them <br> from being lost, damaged, or stolen.
               Traditional libraries must invest heavily in the upkeep and preservation of library resources. Readers frequently
               access and reuse physical library resources, making it difficult to prevent the deterioration of books, vinyl records,
               cassette tapes, and others.
               On the other hand, digital libraries digitize their content and make it available to a large number of readers rather 
               than focusing on the preservation of physical materials. 
               </p>
       </section>
       <section class="section7">
       <div class="offer3">
        <h3 class="heading">Access Around the Clock</h3>
        <img src="https://img.freepik.com/free-vector/men-education-online-with-icons-illustration-design_24877-63614.jpg?t=
                  st=1727377007~exp=1727380607~hmac=73b0decf4d90c71305732ac92396deb2671750d865c87bbb3c8d81f7bdb98785&w=826" height="120px" width="180px" alt="">
        <p>Probably the most significant benefit of a digital library is that it is available 24 hours a day, seven days a week. 
            You no longer have to <br> check the library’s hours online or try to return that book before the due date.
            You can access your favorite titles from the comfort of your home with an online library (or the coffee shop, wherever you
            happen to be browsing from).
            An online library’s patrons aren’t 
            limited to a specific geographical area, which means the library can serve a much larger number of people—basically, 
            anyone with a computer, Internet access, and the correct URL for the online library can take advantage of its many offerings.</p>
         </div>
       </section>
       <section class="section8">
         <h3 class="heading">Access Around the Clock</h3>
         <img src="https://img.freepik.com/free-vector/men-education-online-with-icons-illustration-design_24877-63614.jpg?t=
                   st=1727377007~exp=1727380607~hmac=73b0decf4d90c71305732ac92396deb2671750d865c87bbb3c8d81f7bdb98785&w=826" height="120px" width="180px" alt="">
         <p>Probably the most significant benefit of a digital library is that it is available 24 hours a day, seven days a week. 
             You no longer have to <br> check the library’s hours online or try to return that book before the due date.
             You can access your favorite titles from the comfort of your home with an online library (or the coffee shop, wherever you
             happen to be browsing from).
             An online library’s patrons aren’t 
             limited to a specific geographical area, which means the library can serve a much larger number of people—basically, 
             anyone with a computer, Internet access, and the correct URL for the online library can take advantage of its many offerings.</p>
        </section> -->
        
        <div class="container">
            <div class="card-wrapper active">
                <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="" class="img">
                <p class="testimonial-content">"The e-library has changed the way I read. Now I can access thousands of books anytime, anywhere!"</p>
                 <p class="testimonial-author">— Sarah J., Student</p>
            </div>
            <div class="card-wrapper">
                <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="Dr. Ahmed R." class="img">
                <p class="testimonial-content">"User-friendly and rich in content. A must-have for every academic researcher."</p>
                 <p class="testimonial-author">— Dr. Ahmed R.</p>
            </div>
            <div class="card-wrapper">
                <img class="user-image" src="https://randomuser.me/api/portraits/men/32.jpg" alt="Daniel K.">
              <p class="testimonial-content">"Excellent variety of genres. I discovered so many great authors here."</p>
              <p class="testimonial-author">— Daniel K., Book Lover</p>
            </div>
            <div class="card-wrapper">
                <img class="user-image" src="https://randomuser.me/api/portraits/women/68.jpg" alt="Rachel M.">
              <p class="testimonial-content">"As a working parent, this service lets me keep up with my reading list without stress."</p>
              <p class="testimonial-author">— Rachel M., Professional</p>

            </div>
            <button id="my-button" >Next</button>
        </div>
        
        
     
          
          
        <div id="login">
            <div><a href="/login/user" style="text-decoration: none;"><button id="button1" class="button">Student Login</button></a></div>
            <div><a href="/admin/login" style="text-decoration: none;"><button id="button2" class="button">Admin Login</button></a></div>
        </div>

        <div id="footer">
            <div class="Contact" id="contact">
                <h2>Contact Us</h2>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i> E-Mail:ak0507818@gmail.com</a></li>
                    <li><i class="fa-solid fa-phone"></i>Contact:9773909217</li>
                    <li><i class="fa-solid fa-location-dot"></i>Address:Delhi</li>
                    <li><a href="login.html">Login Here</a></li>
                </ul>
             </div>
                <div class="follow">
                    <h2 id="Follow">Follow Us</h2>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/ayushkr3864/"> <i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=https://www.linkedin.com/in/ayush-kumar-ray-4247972b6/"> <i class="fa-brands fa-linkedin"></i></a>
                </div>
                
            </div>
            <div class="footer-bottom" >
                <p>&copy; 2024 E-Library | Designed by Ayush Kumar Ray ❤️</p>
            </div>
           <script src="/javascripts/script.js" defer></script>
</body>
</head>
 </html>
